.DropdownMenu {
    background-color: #663399;
    color: white;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 10px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: 767px) {
      padding: 0 50px;
    }

    .menu-options {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        font-size: 0.9em;
        border-bottom: 3px solid white;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: #8951aa;
        }

        a {
          color: white;
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
  }
  
  .DropdownMenu a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 0.9em;
  }
  
  /* Estilos del icono de menú */
  .Header__menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0 10px 10px;
    position: relative;
    z-index: 999;
  
    .snipcart-items-count {
      position: relative;
      color: white;
      border-radius: 50%;
      padding: 5px;
      font-size: 0.8em;
      font-weight: bold;
    }
  }

  .Header__menu-icon {
    width: 33.33%;
    max-width: 6rem;

    @media screen and (max-width: 767px) {
      max-width: 5rem;
    }
  }
  
  .Header__menu-icon .menu-icon__bar {
    width: 100%;
    height: 5px;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .Header__menu-icon .menu-icon__bar:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .Header__menu-icon.open .menu-icon__bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  
  .Header__menu-icon.open .menu-icon__bar:nth-child(2) {
    opacity: 0;
  }
  
  .Header__menu-icon.open .menu-icon__bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }  
