.Footer {
  background-color: #171717;
  padding: 2.5rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #fff;

  .row {
    display: flex;
    justify-content: space-around;
  }

  .col-md-4 {
    width: 33.33%;
    flex-basis: 100%;
    text-align: center;

    h3 {
      svg {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  a {
    color: #00c4ff;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  .Icon {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
  }

}