.product-display {
  margin: 16vh 0;
}

.product-display__item {
  margin: 0 auto;
  margin-bottom: 16px;

  .slick-dots {
    display: none !important;
  }
  .slick-slider {
    svg {
      color: white;
    }

    .slick-next:before {
      display: none !important;
    }
    .slick-prev:before {
      display: none !important;
    }
  }
}

@media screen and (min-width: 600px) {
  .product-display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product-display__item {
    width: 75%;
  }
}

@media screen and (min-width: 900px) {
  .product-display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product-display__item {
    width: 48%;
  }
}

.carousel-image {
  position: relative;
  cursor: none;
  
  .loupe {
    position: absolute;
    width: 9rem; // Tamaño de la lupa (ajustar según necesites)
    height: 9rem; // Tamaño de la lupa (ajustar según necesites)
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 500% 500%; // Tamaño de la imagen ampliada (ajustar según necesites)
    pointer-events: none;
    display: none;
    z-index: 9999;

    @media screen and (max-width: 1080px) {
      width: 6rem; // Tamaño de la lupa (ajustar según necesites)
      height: 6rem; // Tamaño de la lupa (ajustar según necesites)
      background-size: 550% 550%; // Tamaño de la imagen ampliada (ajustar según necesites)
    }
  }

  &:hover .loupe {
    display: block;
  }
}